body {
  background-color: #fde74c;
  color: black;
  font-family: "Roboto"; }

.jumbotron {
  color: #a4def9;
  background-color: #4e148c; }

.btn {
  color: #4e148c;
  margin-bottom: 3vh;
  border-radius: 0; }

footer {
  background-color: #4e148c;
  color: #a4def9; }

.link-footer {
  color: #fde74c; }

.boton-servicio {
  width: 100%;
  vertical-align: bottom; }

.card {
  background-color: #fde74c;
  padding-top: 3vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.barra-nav {
  background-color: black;
  color: #fde74c; }

/*breadcrumb*/
.breadcrumb {
  background-color: #fde74c; }

.breadcrumb-item.active {
  color: black; }

a {
  color: #d1452c; }

.img-source {
  object-fit: contain;
  width: 300px;
  margin-right: 250px; }

.card-img-top {
  width: 10vh;
  margin-left: 15px; }
